:root {
  --pantone-very-peri: #6667AB;
  --pantone-lotus: #E5C3C3;
  --pantone-dried-moss: #CDBC7E;
  --light-grey: #F1F1F1;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  position: fixed;
  bottom: 0;

}
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica ;

  }
  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
@font-face {
  font-family: "MemphisRiver";
  src: url(fonts/MemphisRiver.ttf) format("truetype");
}
.ex{
  font-family: "MemphisRiver", sans-serif;
  font-size: 7em;
  color:lightcyan;
}
.foot{
  font-family: "MemphisRiver", sans-serif;
  
}
.myself{
    background-image: url("/picture/bg.jpg");
    background-color: #cccccc;
}
.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      margin: 0cm;
      background-color: #000000;
      
    }
    .header h1 {
      color: white;
      font-size: 30px;
      font-family: "Pacifico", cursive;
    }
article#list-items {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
flex-direction: row;
}
.ul1{
  background-color: white;
  list-style: none;
}
.li1{
  float:none;
}
li{
  float: left;
  color:whitesmoke;
}
li a{
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover {
  background-color: gray;
}
li a.active {
      background-color: gray;
      color: white;
    }

    .blinkt {
    animation: blink 0.1s linear infinite;
}

h5{
    font-size: 5vw;
}
.info {
   

    padding-bottom: 1em;
    display: grid;
    gap: 1em;
    margin: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.myself {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.myself h1, span {
    font-family: 'Bebas Neue', apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 6vw;
    text-align: center;}

    .myself > p {
    font-size: 5vw;
    font-style: italic;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
}


.text{
  display: grid;
    gap: 1em;
    margin: 1em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 3px;
}
.info1 {
  padding-bottom: 1em;
  display: grid;
  gap: 1em;
  margin: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.test1{
  padding: 1.5em;
  gap: 1em;
  border-radius: 1em;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 3px;
  padding-bottom: 1em;
}

.infoin {
    padding: 1.5em;
    gap: 1em;
    border-radius: 1em;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 3px;
}

.infoin > h3 {
    font-size: 1.6em;
    grid-row: 1;
    grid-column: 1;
}

.infoin > p {
    font-size: 1.2em;
}

.infoin image {
    grid-row: 2;
    grid-column: 1;
}

.infoin > ul {
    grid-row: 3;
    grid-column: 1;
    list-style-position: inside;
    list-style-type: disc;
}

.infoin > ul > li {
    align-items: center;
    padding: 0.5em;
    font-size: 1.1em;
}
@font-face {
  font-family: "MemphisRiver";
  src: url(fonts/MemphisRiver.ttf) format("truetype");
}

.About {
  letter-spacing: .08em;
  color: #335eea!important;
  text-transform: uppercase!important;
  display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}
h3{
  
text-align: center;
}


.infoin {
    padding: 1.5em;
    gap: 1em;
    border-radius: 1em;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    background-color: white;
    box-shadow: rgb(0 0 0 / 25%) 2px 2px 3px;
    align-items: start;
}
main > section > header > h2 {
    font-size: 2.5rem;
    padding-top: 3rem;
    padding-left: 2rem;
}


.blink {
    animation: change .3s ease infinite alternate;}

@keyframes change {
    0%   {background-color:black; left:0px; top:0px;}
    50%  {background-color:white; left:200px; top:0px;}
}
  
@keyframes key1{
    0% {transform: translateY(0px);}
    100% {transform: translateY(-10px);}
  }
  
  
@media screen and (max-width: 800px){
.infoin {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
}
}








.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--pantone-very-peri);
}

.button-wrapper {
    margin: 0.75em;
    padding: 0.5em;
    width: fit-content;
}

.button-wrapper:hover {
    color: black;
    background-color: white;
    border-radius: 5px;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-item:first-child {
    margin-right: auto;
}

.nav-item:last-child {
    margin-right: 0;
}

/*Home page*/
main > section > header > h2 {
    font-size: 2.5rem;
    padding-top: 3rem;
    padding-left: 2rem;
}

.blink_effect {
    animation: blink 1.5s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.info {
    display: grid;
    gap: 1em;
    margin: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.infoin {
    padding: 1.5em;
    gap: 1em;
    border-radius: 1em;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 3px;
}

.infoin > h3 {
    font-size: 1.6em;
    grid-row: 1;
    grid-column: 1;
}

.infoin > p {
    font-size: 1.2em;
}

.infoin image {
    grid-row: 2;
    grid-column: 1;
}

.infoin > ul {
    grid-row: 3;
    grid-column: 1;
    list-style-position: inside;
    list-style-type: disc;
}

.infoin > ul > li {
    align-items: center;
    padding: 0.5em;
    font-size: 1.1em;
}






#contact-main {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    margin: 1em;
}

#contact-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#contact-link h1 {
    font-size: 3rem;
    margin: 1rem;
}

#contact-link h2 {
    font-size: 2rem;
    margin: 1rem;
}

#social-media-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 2rem;
}

.social-media-icon {
    transform: scale(2);
    justify-items: center;
    margin-right: 5vw;
    z-index: 10;
}

.social-media-icon:last-child {
    margin-right: 0;
}

.social-media-icon:hover {
    transform: scale(2.5);
    transition: transform 0.1s;
}

#contact-form {
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;
    padding: 1em;
    margin: 1vw;
}

#contact-form h3 {
    padding-bottom: 1.5em;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    font-size: 1em;
    padding: 0.5em;
    margin: 1em 0 2em 0;
    border: 1px solid gray;
    border-radius: 5px;
}

input[type=submit] {
    background-color: var(--pantone-very-peri);
    color: white;
    font-size: 1em;
    padding: 1em 2em;
    border: none;
    border-radius: 0.5em;
}

input[type=submit]:hover {
    background-color: var(--pantone-dried-moss);
    transform: scale(1.1);
    transition: transform 0.1s;
}






/*Responsive design*/
@media screen and (max-width: 1200px) {
    .info {
        grid-template-columns: repeat(2, 1fr);
    }
    .text{
        grid-template-columns: repeat(2, 1fr);
    }
  }

@media screen and (max-width: 1000px) {
 

    #contact-main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        height: auto;
    }

    #contact-link {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #social-media-container {
        display: flex;
        flex-direction: row;
    }

    .social-media-icon {
        transform: scale(1.8);

    }

    .social-media-icon:hover {
        transform: scale(2.3);
    }


  
}

@media screen and (max-width: 800px) {
    .intro-text h1, span {
        font-size: 10vw;
        text-align: center;
    }

    .intro-text > p {
        font-size: 5vw;
        font-style: italic;
    }

    .info {
        grid-template-columns: 1fr;
    }
    .text{
        grid-template-columns: 1fr;
    }
    .infoin {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
    }

    .infoin > h3 {
        grid-row: 1;
        grid-column: 1;
    }

    .infoin > img {
        grid-row: 2;
        grid-column: 1;
    }

    .infoin > ul {
        grid-row: 3;
        grid-column: 1;
    }
    .social-media-icon {
        transform: scale(1.5);
        margin-right: 10vw;
    }

    .social-media-icon:hover {
        transform: scale(2);
    }




#contact-header {
  background-color: var(--pantone-very-peri);
  color: white;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#contact-main {
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  margin: 1em;
}

#contact-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#contact-link h1 {
  font-size: 3rem;
  margin: 1rem;
}

#contact-link h2 {
  font-size: 2rem;
  margin: 1rem;
}

#social-media-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding: 2rem;
}

.social-media-icon {
  transform: scale(2);
  justify-items: center;
  margin-right: 5vw;
  z-index: 10;
}

.social-media-icon:last-child {
  margin-right: 0;
}

.social-media-icon:hover {
  transform: scale(2.5);
  transition: transform 0.1s;
}

#contact-form {
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;
  padding: 1em;
  margin: 1vw;
}

#contact-form h3 {
  padding-bottom: 1.5em;
}

.fa:hover {
  opacity: 0.9;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

a.fa.fa-pinterest {
  padding: 20px;
  font-size: 40px;
  width: 60px;
  text-decoration: none;
  margin: 5px 80px;
}

@media screen and (max-width: 1200px) {
  .info {
      grid-template-columns: repeat(2, 1fr);
  }
.info1{
    grid-template-columns: repeat(1, 1fr);
}
  #hobby-card-container {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  #project-container {
      grid-template-columns: repeat(2, 1fr);
  }

  #contact-main {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      height: auto;
  }

  #contact-link {
      flex-direction: row;
      justify-content: space-evenly;
  }

  #social-media-container {
      display: flex;
      flex-direction: row;
  }

  .social-media-icon {
      transform: scale(1.8);

  }

  .social-media-icon:hover {
      transform: scale(2.3);
  }

  #project-container {
      grid-template-columns: repeat(2, 1fr);
  }

  .personal-info {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
  }

  #personal-detail {
      grid-row: 2;
      grid-column: 1;
  }

  .detail-container {
      margin: 0.5rem 0;
  }

  #personal-map > iframe {
      margin: auto;
      padding: 1em !important;
      border-radius: 1.5em !important;;
      grid-row: 1;
      width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .intro-text h1, span {
      font-size: 10vw;
      text-align: center;
  }

  .intro-text > p {
      font-size: 5vw;
      font-style: italic;
  }

  .info {
      grid-template-columns: 1fr;
  }
  .info1{
    grid-template-columns: 1fr;
  }

  .infoin {
      grid-template-rows: auto auto auto;
      grid-template-columns: 1fr;
  }

  .infoin > h3 {
      grid-row: 1;
      grid-column: 1;
  }

  .infoin > img {
      grid-row: 2;
      grid-column: 1;
  }

  .infoin > ul {
      grid-row: 3;
      grid-column: 1;
  }

  #hobby-card-container {
      grid-template-columns: repeat(2, 1fr);
  }

  #project-container {
      grid-template-columns: 1fr;
  }

  #social-media-container {
      display: flex;
      flex-direction: row;
  }

  .social-media-icon {
      transform: scale(1.5);
      margin-right: 10vw;
  }

  .social-media-icon:hover {
      transform: scale(2);
  }

  #contact-link {
      flex-direction: column;
  }

  #contact-link header {
      justify-items: center;
  }
}





}



/* Style main container */
.container2 {
  margin: 2rem auto;
  max-width: 800px;
}

/* Style form labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
button expanded{
  color:red;
}
/* Style form inputs and textareas */
input[type="text"],
input[type="date"],
input[type="time"],
textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

/* Style form buttons */
button {
  border: none;
  border-radius: 3px;
  color: #000000;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/* Style primary button */
.button.primary {
  background-color: #007aff;
}

/* Style alert button */
.button.alert {
  background-color: #ff3b30;
}

/* Style success label */
.label.success {
  background-color: #4cd964;
  border-radius: 3px;
  color: #ff0000;
  cursor: pointer;
  display: inline-block;
  font-size: 0.75rem;
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

/* Style alert label */
.label.alert {
  background-color: #ff2d55;
  border-radius: 3px;
  color: #da0707;
  cursor: pointer;
  display: inline-block;
  font-size: 0.75rem;
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
  text-transform: uppercase;
}
